@import "natsumi-tweaks/natsumi-tweaks.css";
@import "Cohesion/Cohesion.css";
@import "natsumi/natsumi.css";
@import "mod.css";
:root {
    --zen-dialog-background: var(
        --zen-main-browser-background-toolbar
    ) !important;
    --panel-separator-color: rgba(0, 0, 0, 0.17) !important;
    --zen-appcontent-border: none !important;
    --button-hover-bg-color: rgba(0, 0, 0, 0.17) !important;
    --panel-item-hover-bgcolor: var(--button-hover-bg-color) !important;
    --zen-main-browser-background: #00000000 !important;
}
/* Remove the margins */
#tabbrowser-tabpanels > hbox {
    margin: 0px !important;
}
