#Flow Launcher
Flow Launcher/UserData/Cache/
Flow Launcher/UserData/Logs/

#OBS studio
OBS studio/obs-studio/logs/
OBS studio/obs-studio/crashes/
OBS studio/obs-studio/updates/
OBS studio/obs-studio/profiler_data/
